<h1>New restaurant</h1>

<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name, label: false, placeholder: "Big Pete's BBQ" %>
  <%= f.input :address, label: false, placeholder: "Saucy Lane, MI" %>
  <%= f.input :phone_number, label: false, placeholder: "+123 456-789" %>
  <%= f.input :category, collection: [ "chinese", "italian", "japanese", "french", "belgian" ], label: false %>
  <%= f.submit %>
<% end %>
<br>
<p><%= link_to "Back home", restaurants_path, class: "btn btn-primary" %></p>
